/* myapp/static/css/add_product.css */

body {
    margin: 0;
    padding: 0;
    background-color: #383838;
    color: white; /* Set the default text color to white */
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Change min-height to 100vh to center vertically */
    flex-direction: column;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.create-link {
    position: absolute;
    bottom: 20px;
}
