/* myapp/static/css/supplier_list.css */

body {
    margin: 0;
    padding: 0;
    background-color: #383838;
    color: white; /* Set the default text color to white */
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Change min-height to 100vh to center vertically */
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-left: auto; /* Center the table horizontally */
    margin-right: auto; /* Center the table horizontally */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #696969;
}

tr:nth-child(even) {
    background-color: #696969;
}

a {
    color: white;
}
